.container {
  margin: 20px auto;
  width: 960px;
  padding: 20px 20px;
  border: 1px dotted black;
  overflow: hidden;
}

.container header {
	height: 100px;
	border-bottom: 3px solid black;
}

.articles {
	width: 75%;
	float: left;
}	

.tags {
	width: 20%;
	float: left;
	margin-left: 5%;
}

.tags header {
	height: 50px;
}

